# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
lib/
dist/
build/

# Compiled files
*.exe
*.dll
*.so
*.pyd

# Miscellaneous
.DS_Store